<h1>this is my attractions page</h1>

<%= @attractions.each do |attraction| %>
    <h3><%=attraction.name%></h3>
    <h3><%=attraction.tickets%></h3>
    <!-- <input type="hidden" name=params[:attraction_id] value="attraction.id"> -->
      <% if admin? %>
        <h3><%=link_to "Show #{attraction.name}", attraction_path(attraction)%></h3>
        <% else %>
        <h3><%=link_to "Go on #{attraction.name}", attraction_path(attraction)%></h3>
<% end %>
<%end %>

<% if admin? %>
  <h3><%=link_to "New Attraction", new_attraction_path %></h3>
  <% end %>
